<div id="search">
  <%= simple_form_for "", url: yoga_class_search_path, method: :get, id:"search-form", remote: true  do |f| %>
    <%= f.input :keyword , required: false %>
    <div class="row">
      <%= f.input :class_type , as: :select, collection: ["regular", "course", "workshop"] , required: false, wrapper_html: {class: "col"} %>
      <%= f.input :teacher, required: false, wrapper_html: {class: "col"}  %> 
    </div>

    <%= render "day_of_week_field" %>

    <div class="row">
      <%= f.input :day_after, as: :date, html5: true, required: false, wrapper_html: {class: "col"} %>
      <%= f.input :day_before , as: :date, html5: true, required: false , wrapper_html: {class: "col"}%> 
    </div>
    
    <div class="row">
      <%= f.input :studio, required: false , wrapper_html: {class: "col"} %>
      <%= f.input :city, required: false , wrapper_html: {class: "col"} %><%# dropdown %>
    </div>
    
    <div class="row">
      <%= f.input :country, required: false , wrapper_html: {class: "col"} %><%# dropdown %>
      <%= f.input :state, required: false , wrapper_html: {class: "col"} %> <%# dropdown %>
    </div>
    <div class="d-flex justify-content-between">
      <%= f.submit "Search", class: "btn btn-primary", id: "search_button" %>
      <% if current_user%>
        <button type="button" class= "btn btn-secondary" data-toggle="modal" data-target="#save-search-form" >
          Save Search
        </button>
      <% end %>
    </div>
  <% end %>
</div>

<% if current_user%>
  <%= render "saved_searches/modal"%>
<% end %>
