<div class="card shadow " style="height: 100%" >
  <div class="card-body">
    <div class="row ">
      <div class="col">
        <h5 class="card-title"><%= user.name%> - <%= user.info&.spiritual_name %></h5>
        <p><%= user.yoga_classes.count %> classes</p>
        <%= link_to 'Show', user_path(user), class: "btn btn-primary" %>
      </div>
      <% if user.info && user.info.image.attached? %>
        <div class="col-sm ">
          <%= image_tag user.info.image.variant(resize: '300X300'), class: "img-fluid" %>
        </div>
      <% end%>
    </div>
  </div>
</div>
