<div class="mx-auto" style="max-width: 1500px">
  <div class="d-flex justify-content-between">
    <div>
      <h2 style="display: inline-block"><%= @user.name%></h2>
    </div>
    <div>
      <%if can?(:crud, @user)%>
        <%= link_to 'Edit account', edit_user_path(@user) , class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-6">    
      <div class="card mb-4" >
        <div class="card-body">
          <div class="row">           
            <div class="col-sm-7">
              <%= image_tag @info.image.variant(resize: '300X300') if @info.image.attached? %>
            </div>             
            <div class="col-sm">
              <h5 class="card-title"><%= @user.name%> <%= @info.spiritual_name %></h5>
              <% if @info.public_contact %>
                <p class="card-text"><%= (@info.webpage == nil || @info.webpage == "" )? "" : "webpage: #{@info.webpage}" %></p>
                <p class="card-text"><%= (@info.phone == "" || @info.phone == nil )? "" : "phone: #{@info.phone}" %></p>
                <p class="card-text"><%= @user.email%></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="card  mb-4" id="add_a_class" >       
        <div class="card-body">
          <h5 class="card-title">Introduction</h5>
          <p class="card-text"><%= @info.introduction %></p>
          <% if can? :crud, @info%>
            <% if @info.persisted? %>
              <%= link_to "edit profile", edit_user_info_path(@user, @info), class: "btn btn-primary"%>
            <% else %>
              <%= link_to "create profile", new_user_info_path(@user), class: "btn btn-primary"%>   
            <% end %> 
          <% end %>   
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="row">
        <% if ( @user.is_teacher == true )%> 
          <%= render partial: "users/teacher's_class_list", locals: {user: @user, current_user: current_user, yoga_classes: @yoga_classes} %>
        <% end %>
        <% if @user == current_user %>
          <%= render partial: "users/saved_searches", locals: {user: @user, saved_searches: @saved_searches} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
