  <div class="d-flex justify-content-between">
    <div>
      <h2 style="display: inline-block"><%= @user.name%></h2>
    </div>
    <div>
      <%if can?(:crud, @user)%>
        <%= link_to 'Edit account', edit_user_path(@user) , class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
  
  
  <div class="row">
    <div class="col-md-8">
    
      <div class="card bg-light mb-4" >
        <div class="card-body">
          <div class="row">
           
            <div class="col-sm-6">
              <%= image_tag @info.image.variant(resize: '300X300') if @info.image.attached? %>
            </div>
             
            <div class="col-sm">
              <h5 class="card-title"><%= @user.name%> <%= @info.spiritual_name %></h5>
              <p class="card-text"><%= @info.webpage ? "webpage: #{@info.webpage}" : "" %></p>
              
              <p class="card-text"><%= @info.phone ? "phone: #{@info.phone}" : "" %></p>
              <p class="card-text"><%= @user.email%></p>

            </div>
          </div>
        </div>
      </div>

      <div class="card bg-light mb-4" id="add_a_class" >       
        <div class="card-body">
          <h5 class="card-title">Introduction</h5>
          <p class="card-text"><%= @info.introduction %></p>
          <% if can? :crud, @info%>
            <% if @info.persisted? %>
              <%= link_to "edit profile", edit_user_info_path(@user, @info), class: "btn btn-primary"%>
            <% else %>
              <%= link_to "create profile", new_user_info_path(@user), class: "btn btn-primary"%>   
            <% end %> 
          <% end %>   
        </div>
      </div>

    </div>

    <div class="col-md">
      <% if ( current_user == @user && current_user.is_teacher == true )%>                  
        <%= link_to "Add a class", new_yoga_class_path, class: "btn btn-primary mb-4"%>  
      <% end %>        
      <% @yoga_classes.each do |yc| %>
        <div class="card bg-light mb-4" >       
          <div class="card-body">
            <h5 class="card-title"><a><%= yc.title %></a></h5>
            <p class="card-text">location: <%= yc.location.studio %>, <%= yc.location.address %> <%= yc.location.city %></p>
            <p class="card-text">Class type<%= yc.schedule.class_type%></p>        
          </div>
        </div>
      <% end %>
     
      <% if @user == current_user %>
        <div class="card bg-light mb-4" >       
          <div class="card-body">
            <h5 class="card-title">Saved searches</h5>   
            <ul class="list-group">
              <% @saved_searches.each do |search| %>           
                <li class="list-group-item"><%= search.name %>
                <%= link_to "delete", user_saved_search_path(@user, search), method: :delete, data: { confirm: 'Are you certain?' }%>
                </li> 
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
