<div class="" >
  <div class="mx-auto" style="max-width: 800px">
    <h2>Something doesn't work?</h2>
    <h4>Please contact the developer:</h4>
    <p>dev.orsolya.bus@gmail.com</p>
  </div>
  <div class="mx-auto mt-4" style="max-width: 800px">
    <%= simple_form_for(@issue) do |f| %>
      <%= f.input :sender, label:"Your email" %>
      <%= f.input :subject %>
      <%= f.input :message%>

      <%= f.submit "Send", class: "btn btn-primary" %>
      
    <% end %>
  </div>
</div>