

<h1 class="text-center">Welcome to the Yoga Room!</h1>

<div class="row mt-4" >

  <div class="col " >
    <div class="row ">
      <div class="col-lg-6 text-center mt-4 px-4" style="">
        <h3>Looking for a yoga class? </h3>
        
        <%= link_to("Search here", yoga_classes_path, class: "btn btn-primary mt-2")%>
      </div>
      <div class="col-lg-6 text-center mt-4 px-4">
        <h3 >Are you a teacher?</h3>
        <h5>Sign up and add your classes!</h5>
        <div class="text-left" >  
          <%= simple_form_for "", url: sessions_path do |f| %>
            <%= f.input :email %>
            <%= f. input :password %>
            <%= submit_tag 'Log In', class: "btn btn-primary" %>
            <%= link_to("Sign Up", new_user_path, class: "btn btn-secondary")%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row justify-content-center d-none d-sm-block ">
      <div class="col justify-content-center d-flex">
        <img src="mindfulness.svg" alt="image" class="img-fluid" style="max-width: 100% ; z-index: 0" >
      </div>
    </div>
  </div>
  <div class="col-sm-3 mt-4">
    <p>This site is a work in progress. If you have an idea for improvement, please contact us.</p>
    <p>Thank you for your understanding!</p>
    <img src="development.svg" class="img-fluid" style="max-width: 100%">
  </div>
</div>  
  
</div>
