<div style="border: thin solid #e0c0ab; padding: 10px">
  <h2>Hi, <%= @user.name %></h2>
  <p>You haven't logged in at Yoga Room in the last month.</p>
  <p>These are your current classes presented. Are they up to date?</p>
  <ul style="list-style-type: none">
    <% @yoga_classes.each do |yoga_class| %>
      <div style="border:solid thin #e0c0ab; padding: 10px; margin-bottom: 10px">
        <h4 style= "color: #C55E65"><%= yoga_class.title %></h4>
        <p><%= yoga_class.location.location_list_view %></p>
        <p><%= yoga_class.schedule.show_time %></p>
        <%= link_to "view details", yoga_class_url(yoga_class), style: "color: #C55E65"%>
      </div>
    <% end %>
  </ul>
  <p>Are you classes au to date? </p>
  <b><%= link_to "YES", thx_url(@user), style: "color: C55E65" %></b>
  <p>See you soon, the Yoga Room team</p>
</div>