<div class="container-fluid" id="main-index">
  <h2>Our teachers</h2>

  <div class="card-columns p-2 ">
    <% @teachers.each do |t| %>
      <div class="card bg-light" >
        <img class="card-img-top" src= <%= t.image_url%> >
        <div class="card-body">
          <h5 class="card-title"><%= t.name%> - <%= t.spiritual_name%></h5>
          <p class="card-text"><%= t.introduction&.slice(0, 200)%></p>
          <a href="<%=teacher_path(t)%>" >to teacher's page</a>
        </div>
      </div>
    <% end %>
  </div>
</div>