


<div class="container-fluid">
  <h1><%= @teacher.name%></h1>
  <div class="row">
    <div class="col-md-8">
      <div class="card bg-light mb-4" >
        <div class="card-body">
          <div class="row">
            <% if @teacher.image_url.present? %>
            <div class="col-sm-6">
              <img class="img" src= "<%= @teacher.image_url%>" >
            </div>
            <% end %> 
            <div class="col-sm">
              <h5 class="card-title"><%= @teacher.name%> - <%= @teacher.spiritual_name%></h5>
              <p class="card-text"><%= @teacher.webpage_url%></p>
              <% if @teacher.public_contact %>
                <p class="card-text"><%= @teacher.phone%></p>
                <p class="card-text"><%= @teacher.email%></p>
              <% end %>
              <p class="card-text"><%= @teacher.introduction%></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="card bg-light mb-4" >       
        <div class="card-body">
          <h5 class="card-title"><a>class title</a></h5>
          <p class="card-text">location</p>
          <p class="card-text">time</p>        
        </div>
      </div>
    
      <div class="card bg-light mb-2" >       
        <div class="card-body">
          <h5 class="card-title"><a>class title</a></h5>
          <p class="card-text">location</p>
          <p class="card-text">time</p>        
        </div>
      </div>
    </div>

  </div>
</div>