<div class="card shadow " style="height: 100%" >
  <div class="card-body">
    <h5 class="card-title"><%= location.studio %> </h5>
    <p>
      <%= location.address %>
      <%= location.city %><br>
      <%= location.region %>
      <%= location.country %>
    </p>
    <p><%= location.yoga_classes.count%> yoga classes</p>
    <%= link_to 'Show', location_path(location), class: "btn btn-primary" %>
  </div>
</div>