  <h2>Locations</h2>

  <div class="row ">

    <% @locations.each do |location| %>
      <div class="col-md-6 col-lg-4" >
        <div class="card bg-light my-2" style="height: 170px" >
          <div class="card-body">
            <h5 class="card-title"><%= location.studio %> </h5>
            <p>
              <%= location.address %>
              <%= location.city %><br>
              <%= location.state %>
              <%= location.country %>
            </p>
            <%= link_to 'Show', location_path(location) %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
