<h2><%= @location.studio %></h2>
<div class="card">
  <div class="card-body">
    <p><%= @location.address %>, <%= @location.city %></p>
    <p><%= @location.state ? "#{@location.state}, ": "" %><%= @location.country %></p>
  </div>
</div>

