<nav class="navbar fixed-top navbar-dark navbar-expand-lg bg-dark">
  <%= link_to("YogaRoom", root_path, class:"navbar-brand")%>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to("Search Classes", yoga_classes_path, class: "nav-link" )%>            
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Browse
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to("Teachers", users_path, class: "dropdown-item" )%>
      
          <%= link_to("Locations", locations_path, class: "dropdown-item" )%>
        </div>  
      </li>
      
      <li class="nav-item">
        <%= link_to("Contact", contact_path, class: "nav-link" )%>
      </li>
      </ul>
      <ul class="navbar-nav ml-auto">
      <% if (current_user && can?(:crud, YogaClass.new)) %>
        <li class="nav-item">
        <%= link_to("New Class", new_yoga_class_path, class: "nav-link" )%>
      </li>
      <% end %>

      <% if user_signed_in? %>
      
      <li class="nav-item">
        <%= link_to "#{current_user.name }'s page", user_path(current_user),class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign Out', sessions_path, method: :delete , class: "nav-link"%>
      </li>
    <% else %>
      
      <li class="nav-item">
        <%= link_to("Sign up", new_user_path, class: "nav-link" )%>
      </li>
      <li class="nav-item">
        <%= link_to 'Log In', new_sessions_path, class: "nav-link" %>
      </li>
    <% end %>

    </ul>
  </div>
</nav>