<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yoga Room</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>

  <body class="bg-light">
    <header>
      <%= render "layouts/navbar" %>
    </header>

    <main class="container-fluid p-2" style="min-height: 90vh">

      <div class='flash-container' >
        <%= render "layouts/flash" %>
        <%= render 'layouts/cookie_consent'%>
      </div>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </main>
    
    <footer class="">
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
